<%- include('header') %>
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Add Admin</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Admin</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row h-100 flex my-auto justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card">
                    <form class="form-horizontal" method="post" action="/admin/add-admin">
                        <div class="card-body">
                            <h4 class="card-title">Admin Info</h4>
                            <div class="form-group row">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="firstname" value="<%=admin.firstname%>" id="fname" required placeholder="First Name Here">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lname" class="col-sm-3 text-right control-label col-form-label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="lastname" value="<%=admin.lastname%>" id="lname" required placeholder="Last Name Here">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-3 text-right control-label col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" name="email" value="<%=admin.email%>" id="email" required placeholder="Email Here">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-sm-3 text-right control-label col-form-label">Username</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="username" value="<%=admin.username%>" id="username" required placeholder="Username Here">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contact" class="col-sm-3 text-right control-label col-form-label">Contact No</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="contact" value="<%=admin.contact%>" id="contact" required placeholder="Contact No Here">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Profile Image</label>
                                <div class="col-sm-9">
                                    <div> <!-- previous image -->
                                        <img src="<%=admin.profilePath%>>" class="img-thumbnail"/>
                                    </div>

                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="profileImage" required>
                                        <label class="custom-file-label" for="profileImage">Choose file...</label>
                                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <input type="submit" value="Add Admin" class="btn btn-primary rounded-4">
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

<%- include('footer') %>